section.navigation-bar {
    position: absolute;
}
section.navigation-bar a {
    text-decoration: none;
    color: white;
}
section.navigation-bar div.navigation-header {
    background-color: rgba(0, 0, 0, 0.301);
    width: 100vw;
    padding: 20px 10px;
}
section.navigation-bar div h1 {
    font-size: 1.5rem;
    letter-spacing: 2px;
}

/* nAgivation navs */
section.navigation-bar div.navigation-navs nav {
    margin: 10px 50px;
}
section.navigation-bar div.navigation-navs nav ul.navs{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}
section.navigation-bar div.navigation-navs nav ul.navs li {
    flex: 1;
    text-align: center;
    padding: 10px;
}
section.navigation-bar div.navigation-navs nav ul.navs li a {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
}
