section.navigation-bar {
    position: absolute;
}
section.navigation-bar a {
    text-decoration: none;
    color: white;
}
section.navigation-bar div.navigation-header {
    background-color: rgba(0, 0, 0, 0.301);
    width: 100vw;
    padding: 20px;
}
section.navigation-bar div h1 {
    font-size: 2.5em;
}