section.navigation-bar {
    position: absolute;
}
section.navigation-bar a {
    text-decoration: none;
    color: white;
}
section.navigation-bar div.navigation-header {
    background-color: rgba(0, 0, 0, 0.301);
    width: 100vw;
    padding: 20px 10px;
}
section.navigation-bar div h1 {
    font-size: 1.5rem;
    letter-spacing: 2px;
}

/* nAgivation navs */

section.navigation-bar div.navigation-navs nav ul.navs{
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
}
section.navigation-bar div.navigation-navs nav ul.navs li {

}
section.navigation-bar div.navigation-navs nav ul.navs li a {
    
}