* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
div.background-image {
    background-image: url(https://zdblogs.zohocorp.com/tech-talk/sites/tech-talk/files/2020-12/sensory-surveillance.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: 0;
}
blockquote {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
blockquote p {
    font-size: 2.5em;
    margin: 10px;
}
blockquote cite {
    font-size: 1.5em;
}